name: Deploy Pages

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true


jobs:
  build_index_html:
    name: Build index.html
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: index_html
          path: index.html

  build_kuwahara_opencv:
    name: Build Kuwahara OpenCV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: kuwahara_opencv
          path: kuwahara_opencv

  build_kuwahara_webgl:
    name: Build Kuwahara WebGL
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Clean-Install
        run: npm ci
        working-directory: kuwahara_webgl
      - name: Build
        run: npm run build:prod
        working-directory: kuwahara_webgl
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: kuwahara_webgl
          path: kuwahara_webgl/dist

  build_student_life:
    name: Build Student Life
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: student_life
          path: student_life

  build_ll_chargen:
    name: Build Labyrinth Lord Character Generator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ll_chargen
          path: ll_chargen

  bundle:
    name: Bundle Github Pages
    runs-on: ubuntu-latest
    needs:
      - build_index_html
      - build_kuwahara_opencv
      - build_kuwahara_webgl
      - build_student_life
      - build_ll_chargen
    steps:
      - name: Download index.html
        uses: actions/download-artifact@v4
        with:
          name: index_html
          path: index_html
      - name: Bundle index.html
        run: |
          mkdir -p _site
          mv index_html/index.html _site
      - name: Download Kuwahara OpenCV
        uses: actions/download-artifact@v4
        with:
          name: kuwahara_opencv
          path: _site/kuwahara_opencv
      - name: Download Kuwahara WebGL
        uses: actions/download-artifact@v4
        with:
          name: kuwahara_webgl
          path: _site/kuwahara_webgl
      - name: Download Student Life
        uses: actions/download-artifact@v4
        with:
          name: student_life
          path: _site/student_life
      - name: Download Labyrinth Lord Character Generator
        uses: actions/download-artifact@v4
        with:
          name: ll_chargen
          path: _site/ll_chargen
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    name: Deploy to Github Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: bundle
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
